*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#wrapper{
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 10px;

}

.container{
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform-style: preserve-3d;
    z-index: -1;

}

.background1{
    transform: translateZ(-30px) scale(5);

}
.foreground{
    transform: translate(-20px) scale(.999999);
}

.background1,.foreground{
    position:absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
}
h1{
    position:absolute;
    top:3rem;
    font-size: 10rem;
    letter-spacing: 4px;
    color: #fff;
}

section{
    background-color:rgb(45,45,45);
    color:#fff;
    padding: 5rem 0;
}

.page1{
    background-image: url(img/page1.jpg);

}
.page2{
    background-image: url(img/page6.jpg);
    
}
.page3{
    background-image: url(img/page3.jpg);

}
.page4{
    background-image: url(img/page4.jpg);

}
.page5{
    background-image: url(img/page5.jpg);


}

.page{
    position: relative;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 500px;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

}

.heading{
    font-size: 3rem;
    padding: 0 10rem;
    
}
.desc{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background-color: white;
    color: black;
    padding: 0.5rem 2.5rem; 
    cursor: pointer;

}

.page .desc:hover{
    color:royalblue;
    transition: 0.2 all ease;
    scale: 1.1;
}
/* .p {
    font-size: 3.5rem;
    color: black;
    font-weight: 600;
    text-transform: uppercase;
  } */

.text{
    font-size:1.8rem;
    padding: 0 10rem;
    margin: 5rem 0;
}

footer{
    
 background-color:rgb(45,45,45);   
}
.intro{
    font-size: 25px; 
    color:aqua; 
    line-height: 2rem;
    letter-spacing: 4px;
    display:flex;
    cursor: pointer;
    justify-content: center;
    margin: 5vh 5vh;
}
.intro:hover{
    color: royalblue;
}
.icons svg{
    margin:  5px 5px;
    cursor: pointer;
    color:aqua;
}

@media(max-width:650px){

    .container{
        height: 100%;

    }
    .background1,.foreground{
        position:absolute;
        height: fit-content;
        width:fit-content;
        object-fit: cover;
        z-index: -1;
    }
    h1{
        position:absolute;
        top:4rem;
        font-size: 2rem;
        letter-spacing: 1px;
        color: #fff;
    }
    .background1{
        transform: translateZ(-30px) scale(3.2);
    
    }
    .foreground{
        transform: translate(-20px) scale(.9);
    }
    section{
        padding: 1rem 0;
    }
    .heading{
        font-size: 1.2rem;
        padding: 0 1rem;
    }

    .page{
        position: relative;
        background-repeat: no-repeat;
        width: 100%;
        min-height: 400px; 
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
    
    }


    .text{
        font-size:1rem;
        padding: 0rem .2rem;
        margin: 2rem 1rem;
    }
    .intro{
        text-align: center;
        letter-spacing: 1px;
        flex-direction: column;
    }
    .icons svg{
        margin-top:2rem;
    }
}
